:root{
	--color-principal: #2D5465;
	--morado-neon: rgb(167, 17, 208);
	--verde-neon: #2ff40a;
	--verde-claro: #6BD089;
	--celeste-neon: #00ffff;
	--celeste-claro: #60C5F1;
	--naranja-claro: #e74c3c;
	--morado: #C927CB;
	--color-gris: #444;
}

/*ESTILOS GENERALES*/
body, html { overflow-x:hidden;}

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

body{
	background: #f3f3f3;
	transition: 400ms ease all;
}

body.dark{
	background: #000;
	transition: 400ms ease all;
}

.wrap{
	width: 1250px;
	margin: 0px auto;
}

.contenedor-portafolio{
	width: 90%;
	max-width: 800px;
	margin: auto;
}

.contenedor-about{
	margin: 100px 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.clearfix{
	float: none;
	clear: both;
}

/*CABECERA*/
#menu{
	height: 80px;
	background: #131313;
}

#menu img{
	width: 250px;
	position: absolute;
	top: 17px;
	left: 12%;
}

#menu .lala{display: none;}

#menu h2{display: none}

#menu ul{
	float: right;
	margin-right: 25px;
}

#menu ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;
}

#menu ul li:hover a{
	color: var(--celeste-claro) !important;
}

#menu ul li a{
	position: relative;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	padding: 5px 0;
	transition: .4s;
}

#menu ul li a:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: -5px;
	height: 3px;
	width: 100%;
	background: var(--verde-claro);
	opacity: 0;
	transition: all .2s linear;
	/*
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
	*/
}

#menu ul li a:hover:after{
	opacity: 1;
	bottom: -2px;
	/*
	transform: scaleX(1);
	transform-origin: left;
	*/
}

label #btn,
label #cancel{
	color: white;
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
label #btn:hover{
	color: var(--celeste-claro);
	transition: .3s;
}
label #cancel:hover{
	color: red;
	transition: .3s;
}

#check{
	display: none;
}

body.dark #menu ul li a{
	color: white;
	transition: 400ms ease all;
}

/*Typed JS*/

.typejs{
	width: 45%;
	height: 200px;
	margin: 73px auto;
	border: 5px solid var(--color-principal);
}

body.dark .typejs{
	background: var(--color-principal);
	border: 5px solid var(--color-gris);
	transition: 400ms ease all;
}

.typejs h2{
	display: block;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	margin: 27px auto;
}

body.dark .typejs h2{
	color: #131313;
	transition: 400ms ease all;
}

.separator{
	border-top: 2px solid black;
	width: 563px;
	height: 1px;
	display: block;
	margin-top: -12px;
}

body.dark .separator{
	border-top: 2px solid white;
	transition: 400ms ease all;
}

.typejs .teclado{
	font-weight: bold;
	color: var(--color-principal);
	font-size: 75px;
}

body.dark .typejs .teclado{
	color: white;
	transition: 400ms ease all;
}

.boton-inicio{
	position: absolute;
	top: 90px;
	right: 25px;
}

/*PRESENTACION*/

#fondo{
	background-image: url("../img/fondo-presentacion.jpg");
	border-radius: 20px;
	height: 675px;
	padding-top: 1px;
}

.presentacion{
	width: 82%;
	height: 490px;
	background: white;
	margin: 85px auto;
	border: 1px solid transparent;
	box-shadow: 0 0 42px 1px rgba(0,0,0,.5);
	border-radius: 10px;
	padding: 10px;
}

body.dark .presentacion{
	background: var(--color-gris);
	transition: 400ms ease all;
}

.presentacion img{
	float: left;
	height: auto;
	width: 530px;
	margin-top: 35px;
}

.bx-wrapper, .bx-viewport{
	float: left;
	height: 445px;
	width: 530px;
	overflow: visible !important;
	margin-top: 15px !important;
}

#texto-p{
	float: right;
	width: 42%;
	padding: 40px;
	font-family: Arial;
}

#texto-p h2{
	font-size: 48px;
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
}

body.dark #texto-p h2{
	color: white;
	transition: 400ms ease all;
}

#texto-p .separator{
	width: 442px;
	margin: auto;
	height: 20px;
}

#texto-p p{
	font-family: Arial;
	font-size: 18px;
	line-height: 30px;
	color: #7B7B7B;
}

body.dark #texto-p p{
	color: white;
	transition: 400ms ease all;
}

#texto-p .mano{
	font-size: 50px;
	padding-left: 35px;
}

#texto-p a{
	float: right;
	text-align: center;
	text-decoration: none;
	width: 150px;
	height: 35px;
	margin-right: 155px;
	margin-top: 5px;
	padding: 5px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
	border-radius: 25px;
	cursor: pointer;
	font-size: 15px;
	font-family: Arial;
	color: black;
	font-weight: bold;
}

body.dark #texto-p a{
	color: white;
	transition: 400ms ease all;
}

#texto-p a:hover{
	background: var(--color-principal);
	transform: scale(1.1, 1.1);
	transition: all 300ms;
	color: white;
}

.scroll-top{
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, .4);
	color: white;
	font-size: 20px;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
	z-index: 100;
	box-sizing: content-box;
}

body.dark .scroll-top{
	background: var(--color-principal);
}

.scroll-top > span{
	line-height: inherit;
	vertical-align: top;
}

footer{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0px auto;
	text-align: center;
	margin-top: 50px;
	background: #1B1B1B;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	font-family: Arial;
	font-size: 12px;
	box-shadow: 0px 0px 2px gray;
}

/*SOBRE MI*/
.titulo-about{
	text-align: center;
	font-family: Arial;
	color: var(--naranja-claro);
	text-transform: uppercase;
}
.card{
	height: 290px;
	width: 350px;
	margin: 0px 20px;
	background: #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	text-align: center;
	font-family: Arial;
	transition: all .3s;
}
.card:hover{
	height: auto;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	transition: all .3s;
}
.card .img{
	height: 200px;
	width: auto;
}
.card .img img{
	height: 100%;
	width: auto;
	object-fit: cover;
}
.card .top-text{
	padding: 5px;
}
.card .top-text .name{
	font-size: 25px;
}
.card .top-text p{
	font-size: 20px;
	font-weight: 600;
	color: var(--naranja-claro);
	line-height: 20px;
}
.card .bottom-text{
	padding: 0 20px 10px 20px;
	margin-top: 5px;
	background: #ccc;
	opacity: 0;
	visibility: hidden;
	transition: 0.1s;
}
.card:hover .bottom-text{
	opacity: 1;
	visibility: visible;
	transition: all .3s;
}
.card .bottom-text .text{
	text-align: justify;
}
.card .bottom-text .readMore{
	margin: 10px 0;
	text-align: left;
}
.card .bottom-text .readMore a{
	background: var(--naranja-claro);
	color: #f2f2f2;
	padding: 5px 8px;
	border-radius: 3px;
	display: inline-flex;
	transition: 0.2s;
}
.card .bottom-text .readMore a:hover{
	transform: scale(0.9);
}


/*PORTAFOLIO*/

#barra{
	margin: 75px 65px 30px 180px;
}

#barra-busqueda {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: white;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
}

.categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px dashed black;
  border-radius: 45px;
  background: #f3f3f3;
  transition: 0.3s ease all;
}
body.dark .categorias {
  background: #222222;
  border: 2px dashed white;
  transition: 400ms ease all;
}
.categorias a {
  color: #9B9B9B;
  padding: 15px;
  margin: 10px 20px;
  font-size: 18px;
  font-family: Arial;
  font-weight: 700;
}
body.dark .categorias a.activo {
  color: #37BCF9;
  font-weight: bold;
  transition: 400ms ease all;
}
.categorias a:hover {
  background: #444;
  color: white;
  border-radius: 35px;
  text-decoration: none;
  transition: all 300ms;
}
.categorias a.activo {
  color: black;
}
.categorias a.activo:hover {
  background: #444;
  color: white;
  border-radius: 35px;
  transition: all 300ms;
}

/*SWITCH*/
.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin: 18px;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active-button {
  background: orange;
  color: black;
}
.switch.active-button::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/*IMAGENES CONTENIDO*/
.grid {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.333333% - 20px);
}
.grid .item-contenido {
  position: relative;
}
.grid .item img {
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  cursor: pointer;
  vertical-align: top;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 20px;
}

/*OVERLAY*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.overlay.activo {
  display: flex;
}
.overlay img {
  max-width: 100%;
  max-height: 500px;
}
.overlay .descripcion {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
}
.contenedor-img {
  position: relative;
}
.overlay #btn-cerrar-popup {
  background: none;
  font-size: 20px;
  color: red;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
}

/*CONTACTO*/
#contacto{
	width: 50%;
	height: auto;
	float: left;
	margin: 85px auto;
	border: 1px solid transparent;
	background: var(--color-gris);
	box-shadow: 0 0 42px 1px rgba(0,0,0,.5);
	border-radius: 10px;
	padding: 20px;
}

#contacto h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
}

#contacto p{
	font-family: sans-serif;
	margin-top: 25px;
	margin-bottom: 40px;
	color: gray;
}

#contacto span{
	color: red;
	font-weight: bold;
	font-size: 18px;
}

#form-contacto{
	width: 50%;
	margin-top: 20px;
	font-family: Arial;
}

#form-contacto label{
	display: block;
	width: 100%;
	margin-top: 15px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
select,
textarea{
	padding: 5px;
	border-radius: 20px;
	border: 3px solid #ccc;
	width: 130%;
	margin-bottom: 10px;
}

body.dark form input[type="text"],
body.dark form input[type="password"],
body.dark form input[type="email"],
body.dark form input[type="number"],
body.dark select,
body.dark textarea{
	background: black;
	color: white;
	border: 3px solid white;
	transition: 400ms ease all;
}

form input[type="submit"]{
	width: 150px;
	background: black;
	padding: 10px;
	border: 4px solid black;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
}

form input[type="submit"]:hover{
	background: var(--color-principal);
	border: 4px solid var(--color-principal);
}

.form-error{
	display: block;
	margin-left: 20px;
}

/*BARRA LATERAL*/

#sidebar{
	font-family: sans-serif;
	width: 38%;
	float: right;
	margin-top: 60px;
}

#sidebar #icono-email span{
	border: 2px solid transparent;
	border-radius: 80px;
	margin-left: 175px;
	font-size: 60px;
	padding: 30px;
	background: var(--color-principal);
	color: white;
}

#sidebar p{
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
}

#sidebar h2{
	text-align: center;
}

.texto-red{
	margin-top: 50px;
}

body.dark #sidebar p,
body.dark #sidebar h2,
body.dark .texto-red{
	color: white;
	transition: 400ms ease all;
}

#redes-sociales{
	margin-top: 20px;
	margin-left: 175px;
}

#redes-sociales ul li{
	display: block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid black;
    transition: all 0.5s ease;
}

body.dark #redes-sociales ul li{
	border: 5px solid #D8E2DC;
	transition: 400ms ease all;
}

ul li .fa {
  color: black;
  margin-top: 20px;
  transition: all 0.5s ease;
}

body.dark ul li .fa{
	color: #D8E2DC;
	transition: 400ms ease all;
}

/*facebook*/
ul li:hover.facebook{
  border: 5px solid #3b5998 !important;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}
ul li:hover .fa-facebook {
  color: #3b5998 !important;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
ul li:hover.twitter {
  border: 5px solid #00aced !important;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}
ul li:hover .fa-twitter {
  color: #00aced !important;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/*instragram*/
ul li:hover.instagram {
  border: 5px solid #bc2a8d !important;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}
ul li:hover .fa-instagram {
  color: #bc2a8d !important;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/*google*/
ul li:hover.google {
  border: 5px solid #dd4b39 !important;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}
ul li:hover .fa-google {
  color: #dd4b39 !important;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/*whatsapp*/
ul li:hover.whatsapp {
  border: 5px solid #4dc247 !important;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}
ul li:hover .fa-whatsapp {
  color: #4dc247 !important;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}
